{% extends "encyclopedia/layout.html" %}


{% block title %}
    Add new page
{% endblock %}

{% block body %}
    <h1>Add new Page:</h1>
    <form action="{% url 'encyclopedia:add' %}" method="POST">
        {% csrf_token %}
        <h3>Enter the title</h3>
        <input class="search" type="text" name="title" placeholder="enter title">
        <h3>Enter content</h3>
        <textarea name="content" rows="1" cols="40">
        </textarea>
        <input type="submit">
    </form>

{% endblock %}